@import "__general";
@import "__mixins";

//************
//  HEADER   //
//************
.header {
   display: flex;
   justify-content: space-between;
}

.header-links {
   ul {
      display: flex;
      align-items: center;

      gap: 4.8rem;
      font-size: 1.4rem;
      font-weight: 500;

      transition: 1.5s all;
   }

   a {
      &:hover {
         color: $primary-red;
      }
      letter-spacing: 1px;
      transition: 0.5s all;
      color: $Dark-Blue;
   }

   .header-login {
      @include btn($primary-red, white);
      margin-left: 3.2rem;
      box-shadow: 0px 2px 5px 1px rgba(255, 0, 0, 0.22);
   }
}

//********************
//  section landing //
//********************
.section-landing {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-left: 12.8rem;
   align-items: center;
   overflow: hidden;
   .landing-header {
      color: $Dark-Blue;
      font-size: 4.8rem;
      font-weight: 500;
   }

   .landing-description-text {
      margin-top: 2.4rem;
      font-size: 1.8rem;
      color: $Grayish-Blue;
      max-width: 70%;
      line-height: 1.2;
   }

   .landing-btns {
      display: flex;
      gap: 1.6rem;
      margin-top: 2.4rem;
      .landing-btn--1 {
         @include btn($primary-blue, white);
         font-weight: 600;
         box-shadow: 0px 2px 5px 1px rgba(0, 0, 255, 0.248);
      }
      .landing-btn--2 {
         @include btn(#ebeaef, rgb(109, 109, 109));
         font-weight: 600;
      }
   }

   .landing-img img {
      max-width: 90%;
   }

   .landing-img {
      position: relative;
   }

   .landing-img::after {
      z-index: -1;
      content: "";
      background-color: $primary-blue;
      position: absolute;
      transform: translateX(-40rem);

      border-start-start-radius: 40%;
      border-bottom-left-radius: 40%;
      height: 70%;
      width: 100%;
      bottom: 0;
   }
}

//******************* //
//  FEATURE SECTION   //
//******************* //
.feature-section {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   gap: 5rem;

   .feature-header {
      font-size: 3rem;
      color: $Dark-Blue;
   }
   .feature-description {
      font-size: 1.6rem;
      line-height: 1.6;
      width: 40%;
      text-align: center;
      color: $Grayish-Blue;
   }
   ul {
      display: flex;
      li {
         padding: 3.2rem 6.4rem;
         font-size: 1.4rem;
         font-weight: 500;
         border-bottom: 2px solid $primary-red;
         cursor: pointer;
      }
   }

   .feature-tabs {
      display: grid;
      grid-template-columns: 1fr;

      .feature-tab {
         width: 100%;
         align-items: center;
         display: grid;
         grid-template-columns: 1fr 1fr;
         justify-content: space-between;
         .tabbed-description {
            background-color: white;
            width: 100%;
            .tab-header {
               font-size: 2.4rem;
            }
            .tab-description-text {
               margin: 1.6rem 0rem;
               font-size: 1.6rem;
               width: 70%;
            }
         }
      }
   }
}
